/*
 * widget
 */

#trobz_board .widget {
    width: 100%;
}

.list .widget {
    float: left;
    position: relative;
}

.sliding .widget {
    position: absolute;
    top: 0;
}

/*#trobz_board .widget.size1 { width: 10%; }*/
/*#trobz_board .widget.size2 { width: 20%; }*/
/*#trobz_board .widget.size3 { width: 30%; }*/
/*#trobz_board .widget.size4 { width: 40%; }*/
/*#trobz_board .widget.size5 { width: 50%; }*/
/*#trobz_board .widget.size6 { width: 60%; }*/
/*#trobz_board .widget.size7 { width: 70%; }*/
/*#trobz_board .widget.size8 { width: 80%; }*/
/*#trobz_board .widget.size9 { width: 90%; }*/
/*#trobz_board .widget.size10 { width: 100%; }*/

#trobz_board .widget.size1 { width: 8.33%; }
#trobz_board .widget.size2 { width: 16.66%; }
#trobz_board .widget.size3 { width: 24.99%; }
#trobz_board .widget.size4 { width: 33.32%; }
#trobz_board .widget.size5 { width: 41.65%; }
#trobz_board .widget.size6 { width: 48.98%; }
#trobz_board .widget.size7 { width: 58.31%; }
#trobz_board .widget.size8 { width: 66.64%; }
#trobz_board .widget.size9 { width: 74.97%; }
#trobz_board .widget.size10 { width: 83.3%; }
#trobz_board .widget.size11 { width: 91.63%; }
#trobz_board .widget.size12 { width: 100%; }


#trobz_board .widget .remove_widget {
    display: none;
}

#trobz_board .widget .pager {
    position: absolute;
    right: 42px;
    top: 5px;
}

#trobz_board .widget .widget_content {
    border: 1px solid #c8c8d3;
    -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    margin: 10px;
    background: #f8f8f8;
}


#trobz_board .widget .head {
    height: 26px;
    overflow: auto;
    padding: 5px 0;
    position: relative;
    border-bottom: 1px solid #cacaca;
    background-color: #ededed;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#dedede));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #dedede);
    background-image: -moz-linear-gradient(top, #fcfcfc, #dedede);
    background-image: -ms-linear-gradient(top, #fcfcfc, #dedede);
    background-image: -o-linear-gradient(top, #fcfcfc, #dedede);
    background-image: linear-gradient(to bottom, #fcfcfc, #dedede);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
}

#trobz_board .widget .head .loader {
    font-size: 20px;
    position:absolute;
    left:25px;
    top:5px;
}

#trobz_board .widget .head .loader.invisible {
    visibility: hidden;
}

#trobz_board .widget .head .loader.icon-warning-sign {
    color: #900;
}

#trobz_board .widget .head h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 26px;
}

#trobz_board .widget .head .button {
    position: absolute;
    right: 10px;
    top: 5px;
}

#trobz_board .widget .head .icon-question-sign{
    position: absolute;
    left: 5px;
    top: 5px;
    cursor: help;
}

#trobz_board .widget .widget_help {
    position:absolute;
    left:30px;
    top:28px;
    z-index:2;
    border:1px solid #cacaca;
    background:white;
    padding:5px;
    border-radius: 5px;
     -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 0 9px rgba(0, 0, 0, 0.1);
}

#trobz_board .widget .widget_help ul,
#trobz_board .widget .widget_help li{
    list-style: none;
    padding: 0;
    margin: 0;
}

#trobz_board .widget .widget_help h3 {
    display: none;
}

#trobz_board .widget .body {
}



/*
 * widget.status
 */

#trobz_board .status {
    overflow: auto;
    background: #f3f3f3;
    border-top: 2px solid #cacaca;
    padding: 2px 0;
    color: #999;
    
    background-color: #ededed;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#dedede));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #dedede);
    background-image: -moz-linear-gradient(top, #fcfcfc, #dedede);
    background-image: -ms-linear-gradient(top, #fcfcfc, #dedede);
    background-image: -o-linear-gradient(top, #fcfcfc, #dedede);
    background-image: linear-gradient(to bottom, #fcfcfc, #dedede);
}

#trobz_board .status .metrics {
    margin: 0 5px;
}

#trobz_board .status .updated_at {
    float: right;
    margin: 0 10px 0 0;
    font-style: italic;
}
