#board #widgets {
    overflow: hidden;
    position: relative;
}

.sliding #widgets {
    overflow: hidden;
    height: 100%;
}

#board {
    height: 100%;
}

#board .hidden {
    display: none;    
}



#board #widgets h1 {
    display: none;
}
